*{
    box-sizing: border-box;
    margin: 0%;
}

header {
    background-color: teal;
    border: 1px  black;
}

main {
    background-color: grey;
}

.card-class {
    border: 2px solid black;
    height: 300px;
    width: 450px;
    background-color:white;
}

.WelBackH1 {
text-align: center;
}
.container-buttons {
    background-color:greenyellow;
    border: 1px solid black;
}

footer {
    background-color:greenyellow ;
    margin-bottom: 0%;
    border: 2px solid black;
}